{% load static %}

<footer>
        <p class="footer-title">ArenaGO</p>
        <nav class="footer-nav">
            <a href="#">Home</a>
            <a href="#">FAQs</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
            <a href="#">Add your venue</a>
        </nav>
        <div class="footer-icons">
            <img src="{% static 'images/facebook.png' %}" alt="">
            <img src="{% static 'images/insta.png' %}" alt="">
            <img src="{% static 'images/youtube.png' %}" alt="">
            <img src="{% static 'images/linkedin.png' %}" alt="">
        </div>
        <p class="footer-rights">© All rights Reserved</p>
    </footer>